/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}

@font-face {
	font-family: 'Space Grotesk';
	src: url('/fonts/SpaceGrotesk.ttf');
	font-display: swap;
}

.variant-custom-ghost {
	@apply bg-[rgb(54,63,75)] text-[rgb(226,255,248)] ring-1 ring-surface-500;
}

p {
	word-break: break-all;
}

.card p > a {
	font-weight: 700;
	text-decoration: underline;
}
