/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}

@font-face {
	font-family: 'Space Grotesk';
	src: url('/fonts/SpaceGrotesk.ttf');
	font-display: swap;
}

p {
	word-break: break-all;
}

.card p > a {
	font-weight: 700;
	text-decoration: underline;
}
